body {
    font-family: Arial, sans-serif;
}

.navbar {
    transition: background-color 0.5s;
}

.navbar.scrolled {
    background-color: #f8f9fa;
}

section {
    padding: 60px 0;
}

h2 {
    margin-bottom: 30px;
}

.list-group-item {
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #e9ecef;
}
.list-group-item img {
    transition: transform 0.3s;
}

.list-group-item img:hover {
    transform: scale(1.05);
}