/*
=====================================================================
*   Sparrow v1.0 Layout Stylesheet
*   url: styleshout.com
*   02-08-2014
=====================================================================

   TOC:
   a. Common Styles.
   b. Header Styles.
   c. Intro Section - Main Page.
   d. Info Section - Main Page.
   e. Works Section - Main Page.
   f. Journal Section - Main Page.
   g. Tweets Section - Main Page.
   h. Blog.
   i. Porfolio.
   j. About.
   k. Contact.
   l. Footer.

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. Common Styles
/* ------------------------------------------------------------------ */

body { background: #D2D8D8 url(../images/bg.jpg); }
img { border-radius: 3px; }
.content-outer { background: #fff }

/* page title */
#page-title {
   background: #383232 url(../images/header-bg.jpg);
   padding-top: 42px;
   padding-bottom: 54px;
}
#page-title h1 {
   font: 50px/60px raleway-bold, sans-serif;
   color: #fff;
   padding: 0;
   margin: 0 0 18px 0;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}
#page-title p {
   font: 17px/36px notosans-regular, sans-serif;
   padding: 0;
   margin: 12px 5% 0;
   color: #b4a9a9;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}

/* page content */
#page-content {
   padding-top: 54px;
   padding-bottom: 54px;
   margin: 0 auto;
   width: 91.66667%;
}
/* page */
.page section {
   padding-top: 24px;
   padding-bottom: 12px;
}
.page h1, .title-heading {
   font: 39px/48px raleway-semibold, sans-serif;
   margin-bottom: 18px;
}





/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   height: 96px;
   width: 100%;
   background: #383232 url(../images/header-bg.jpg);
}

/* header logo */
header .logo {
   position: absolute;
   left: 20px;
   top: 48px;
}
header .logo a {
   display: block;
   margin: 0;
	padding: 0;
	border: none;
	outline: none;
   width: 113px;
   height: 24px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	position: relative;
   font: 14px raleway-bold, sans-serif;
   float: right;
   margin-top: 36px;
   margin-right: 20px;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
   display: none;
   border-radius: 3px;
}

ul#nav {
   min-height: 48px;
   width: auto;

   /* left align the menu */
   text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {


   display: inline-block;
   padding: 8px 11px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #EFF1F0;
}


/* adds down arrow */

/* ------------------------------------------------------------------ */
/* c. Intro Section - Main Page
/* ------------------------------------------------------------------ */

#intro { background: #383232 url(../images/header-bg.jpg); }

/* Flex Slider
/* ------------------------------------------------------------------ */

.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}

/* FlexSlider Intro Slider Styles */
.slides {
   overflow: hidden;
   position: relative;
}
.slider-text {
	color: #b4a9a9;
   width: 90%;
   text-align: center;
   margin: 60px auto 36px auto;
}
.slider-text h1 {
   font: 50px/60px raleway-bold, sans-serif;
   color: #fff;
   padding: 0;
   margin: 0 0 18px 0;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}
.slider-text p {
   font: 17px/36px notosans-regular, sans-serif;
   padding: 0;
   margin: 12px 8% 0;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}



/* ------------------------------------------------------------------ */
/* d. Info Section - Main Page
/* ------------------------------------------------------------------ */

#info {
   background: #fff url(../images/content-bg.jpg);
   padding-top: 60px;
   padding-bottom: 42px;
}
#info h2 {
  font: 18px/30px notosans-bold, sans-serif;
  color: #11ABB0;
  margin-bottom: 6px;
}
#info p {
  font-size: 15px;
  line-height: 30px
}

/* ------------------------------------------------------------------ */
/* e. Works Section - Main Page
/* ------------------------------------------------------------------ */

#works {
   background: #f5f5f5 url(../images/works-bg.jpg);
   padding-top: 48px;
   padding-bottom: 36px;
   border-top: 1px solid #E3E8E8;
   border-bottom: 1px solid #E3E8E8;
}
#works h1 {
   font: 20px/36px raleway-bold, sans-serif;
   margin-bottom: 36px;
   color: #A1A8AF;
}
/* ------------------------------------------------------------------ */
/* g. Tweets Section - Main Page
/* ------------------------------------------------------------------ */

#tweets {
   background: #f5f5f5 url(../images/tweets-bg.jpg);
   padding-top: 60px;
   padding-bottom: 30px;
   border-top: 1px solid #E3E8E8;
   border-bottom: 1px solid #C1CDCD;
}
.tweeter-icon { font-size: 54px; }

/* Twitter Feed */
#tweets #twitter {
   margin: 24px auto;
   padding: 0;
   width: 90%;
}
#tweets #twitter li {
   margin: 6px 0px 18px 0;
   line-height: 24px;
}
#tweets #twitter li span {
   display: block;
   font: 24px/48px raleway-semibold, Sans-serif;
   margin-bottom: 12px;
   color: #99A0A8;
}
#tweets #twitter li b a {
   font: 18px/36px notosans-regular, Sans-serif;
   color: #A4ABB2;
   border: none;
}
#tweets .button {
   padding: 6px 24px;
}
.logopolibang img{
   width: 100px;
   align-content: center;
}
.motto{
   text-align: center;
   font-size: 45px;

   
}

/* ------------------------------------------------------------------ */
/* h. Blog
/* ------------------------------------------------------------------ */




/* post-nav */
.post-nav {
   margin: 24px 0;
   padding: 30px 0 0 0;
   border-top: 1px solid #E0E0E0;
   font: 16px/30px notosans-regular, sans-serif;
}


.ukm-olahraga img{
   width: 400px;
}


/* ------------------------------------------------------------------ */
/* i. Porfolio
/* ------------------------------------------------------------------ */

.portfolio section {
   padding-top: 24px;
   padding-bottom: 30px;
}
.portfolio .entry-media img {
   margin-bottom: 24px;
}
.portfolio .entry-details {
   font-size: 15px;
   margin-bottom: 24px;
   padding-right: 30px;
}
.portfolio .entry-excerpt {
   font: 20px/36px raleway-regular, sans-serif;
   color: #9FA5AD;
}
.portfolio .entry-details h1 {
   font: 30px/42px raleway-semibold, sans-serif;
   margin-bottom: 18px;
}
.portfolio .portfolio-meta-list li {
   line-height: 30px;
   margin-bottom: 12px;
}
.portfolio .portfolio-meta-list li span {
   font-family: notosans-bold, sans-serif;
   display: block;
   color: #313131;
}
.portfolio .post-nav {
   margin-left: 18px;
   margin-right: 18px;
}

.portfolio #portfolio-wrapper {
   margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* j. About
/* ------------------------------------------------------------------ */

/* Team Members */



#data-diri img {
	margin-bottom: 12px;
   width: 50%;
}

#data-diri ol{
  list-style: none;
}



/* ------------------------------------------------------------------ */
/* k. Contact
/* ------------------------------------------------------------------ */





#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 12px;
}

/* ------------------------------------------------------------------ */
/* l. footer
/* ------------------------------------------------------------------ */

footer {
   margin-top: 66px;
   margin-bottom: 84px;
   font-size: 14px;
}


/* social links */
footer .footer-social {
   margin: 36px 0 24px 0;
   padding: 0;
   font-size: 30px;
   text-align: center;
}
footer .footer-social li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 24px;
   margin-right: 24px;
}
footer .footer-social li a { color: #7B858E; }
footer .footer-social li a:hover { color: #313131; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 12px 0 0 0;
    text-align: center;
    font-size: 15px;
    font: 14px/30px notosans-regular, sans-serif;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
    content: "|";
    padding-left: 15px;
    padding-right: 15px;
    color: #B4BBBB;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* Go To Top Button */
#go-top {
	position: fixed;
	bottom: 0px;
   right: 25px;
   display: none;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 40px;
	background: url(../images/go-to-top.png) no-repeat 50% 50%;
	background-color: #1f2024;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

 	border-radius: 3px 3px 0 0;

   font: 0/0 a;
   text-shadow: none;
   color: transparent;
}
#go-top a:hover { background-color: #0F9095; }
